@use "../abstracts/" as *;

.course {
  &__list {
    @include grid(1, between, center);

    @include mobile(md) {
      @include grid(2, between, center);
    }

    @include mobile(lg) {
      @include grid(3, between, center);
    }

    gap: 4rem 2.4rem;
  }

  &__item {
    border-radius: 1rem;
    border: 0.5px solid rgba($color__muted);
    overflow: hidden;
  }

  &__item-cover {
    min-height: 15rem;

    & > img {
      object-fit: cover;
    }
  }

  &__item-content {
    @include flex(column, stretch, start);
    gap: 2.4rem;
    padding: 3.2rem 2.4rem;
  }

  &__item-heading {
  }

  &__item-status {
    font-size: 1.4rem;
  }

  &__item-link {
    @include flex(row, start, center);
    gap: 1.2rem;

    margin-top: 8rem;
  }
}
