// Colors
$color__navigation: 26 30 31;
$color__navigation--sticky: rgba(34, 34, 34, 0.9);

$color__background--dark: 22 22 22;
$color__background--light: 43 43 43;

$color__foreground: 255 255 255;

$color__accent: 6 174 243;

$color__muted: 148 148 148;

$border__color--dark: rgba(148, 148, 148, 0.1);
$border__color--light: rgba(148, 148, 148, 0.8);

$border__dark: 1px solid $border__color--dark;
$border__light: 0.4px solid $border__color--light;

// Font family
$ff__regular--cap: "tbc-regular--cap";
$ff__medium--cap: "tbc-medium--cap";
$ff__bold--cap: "tbc-bold--cap";
$ff__black--cap: "tbc-black--cap";

$ff__regular--nocap: "tbc-regular--nocap";
$ff__medium--nocap: "tbc-medium--nocap";
$ff__bold--nocap: "tbc-bold--nocap";
$ff__black--nocap: "tbc-black--nocap";

// Font size

$fs__base: 1.6rem;

// Font weight
$fw__regular: 400;
$fw__medium: 500;
$fw__bold: 700;
$fw__black: 900;

// Line height
$lh__xs: 1.2;
$lh__sm: 1.4;
$lh__base: 1.6;

$section__padding--sm: 3.2rem 2.4rem 4rem;

$transition: all 0.25s ease-in;
$transition__accordion: max-height 0.2s ease-in-out;
$transition__hamburger: all 0.15s ease-in;
$transition__mobile-menu: all 0.2s ease-in-out;

$section__padding: 4rem 0;
