@use "../abstracts/" as *;

.footer {
  width: 100%;
  padding: 6.4rem 0 4rem;

  background-color: rgba($color__navigation);

  &__wrapper {
    @include grid(2, space-between, end);
    gap: 3.2rem;

    font-size: 1.4rem;
  }

  &__logo {
    grid-column: 1 / -1;
    width: 10rem;

    @include mobile(md) {
      grid-column: 1 / 2;
    }
  }

  &__copy {
    @include flex(column, space-between, start);
    grid-column: 1 / -1;
    gap: 2rem;

    @include mobile(md) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &__social {
    @include flex(row, end, center);

    grid-column: 2 /3;
    grid-row: 2 / 3;

    gap: 1rem;

    @include mobile(md) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;

    & > img {
      height: 100%;
    }
  }

  &__link {
    grid-column: 1/ 2;
    grid-row: 2/3;
    font-size: 1.6rem;

    @include mobile(md) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;

      margin-left: auto;
    }
  }
}
