@use "../abstracts/" as *;

.navigation {
  position: fixed;

  top: 0;
  right: -100%;
  z-index: 10;

  opacity: 0;

  min-height: 100dvh;
  width: 65%;

  background-color: rgba($color__background--dark);

  transition: $transition__mobile-menu;

  @include mobile(md) {
    @include flex(row, space-between, center);
    position: static;
    opacity: 1;
    width: 100%;
    min-height: min-content;

    background-color: transparent;
  }

  &__list {
    @include flex(column, start, end);
    gap: 4rem;

    padding: 16rem 2.4rem 0;

    @include mobile(md) {
      @include flex(row, space-between, center);

      gap: 4rem;
      padding: 0;

      margin-left: auto;
    }
  }

  &__item {
    font-size: 2.4rem;

    @include mobile(md) {
      font-size: 1.6rem;
    }
  }
}

.navigation[aria-hidden="false"] {
  right: 0;
  opacity: 1;
}
