@use "../abstracts/" as *;

h1 {
  font-size: 2.4rem;

  @include mobile(md) {
    font-size: 3.2rem;
  }

  @include mobile(lg) {
    font-size: 4.2rem;
  }
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}
